<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.webrtc.webrtcandroidframework">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
</manifest>
