<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.roundesk.sdk">

    <application>
        <activity
            android:name=".activity.VideoCallActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.OutgoingCallActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.IncomingCallActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>